#register{
    /* overflow:hidden; */
    margin-top: 5%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2vw;
    padding-left: 8vw;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}
#register table{
    font-size: medium;
    width: 100%;
}
#register table td{
    padding:0.5vw;
}
#register input{
    width: 70%;
    outline:none;
    border: none;
    border-bottom:1.5px solid black;
}
#register button[type="submit"]{
    cursor: pointer;
    border-radius: 7px;
    width: 82%;
    border: 10px solid black;
    border:none;
    padding: 1vw;
    background-color:#1877F2;
    color: #fff;
}
h4 button{
    border:none;
    color:#1877F2;
    background: transparent;
    font-size:3vh;
    font-weight:bold;
    cursor: pointer;
}

@media screen and (max-width:700px){
    #register{
        width:92%;
        margin: 2vw;
        padding-left: 0;
        padding: 2vw 0vw 2vw 2vw;
    }
    #register table{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}